
.hero{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    /* background-image: url("/images/Kitox.jpg"); */
    background-size: cover;
}

.hero-content{
 padding: 50px;
    width: 50%;
    text-align: center;
}

.hero-content h1{
    font-family: 'Moon Dance', cursive;
    color: #E7E5E5;
    font-size: 40px;
}

#img2{
    margin-top: -50px;
    margin-bottom: -50px;
}

.hero-content p:nth-child(3){
    color: #B14728;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.hero-content p:nth-child(5){
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.hero-content p:nth-child(11){
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.fa-star, .fa-star-half-stroke{
    color: #FF881F;
    padding: 30px 0px 10px 0px;
}

#hero-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
}



@media screen and (max-width: 600px){


    .hero{
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #hero-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
    background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
    }
    
    .hero-content{
    padding: 0px;
       width: 70%;
       margin-top: 50px;
       text-align: center;
    }
    
    .hero-content h1{
       font-family: 'Moon Dance', cursive;
       color: #E7E5E5;
       /* font-size: 5vw; */
       text-align: center;
       font-size: 20px;
       margin-top: 10px;   
    }
    
    #img2{
       margin-top: -50px;
       margin-bottom: -50px;
       width: 100%;
    }
    
    .hero-content p:nth-child(3){
       color: #B14728;
       font-family: 'Montserrat', sans-serif;
       margin-top: 10px;
    }
    
    .hero-content p:nth-child(5){
       color: #fff;
       font-family: 'Montserrat', sans-serif;
       font-size: 14px;
       line-height: 20px;
       margin-top: 10px;
    }
    
    .hero-content p:nth-child(11){
       font-family: 'Montserrat', sans-serif;
       font-size: 12px;
       margin-top: 10px;
    }
    
    #hero-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
    background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
    }
}



