@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
  overflow-x: hidden !important;
}

h1,h2,h3,p{
    font-family: 'Montserrat', sans-serif;
}
